<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Flask Framework</h1>

    <!-- links -->
    <a href="http://localhost:5000/">Home</a>
    <a href="http://localhost:5000/about/user_name">About</a>
    <a href="http://localhost:5000/myStory/text">My Story</a>
    <a href="http://localhost:5000/contact">Contact</a>
    <a href="http://localhost:5000/login">Log In</a>
</body>
</html>